h1 {
    color: green;
  }
  
h2{
    color: blue;
    text-shadow: #800080;
    text-decoration: dashed;
    text-shadow: blue;
}

h2:second-child{
    color: green;
}

p{
    color: gray
}

ol {
  border: 2px solid purple;
}

ul {
    border: 2px solid orange;
  }

ol, ul {
  padding: 5px 20px;
  border-radius: 4px;
}

h1, strong {
  color: purple;
}

em {
  color: gray;
}

.highlight {
  color: #800080; /* purple color */
  font-weight: bold;
  font-style: i
}
.important {
  font-style: italic;
  font-stretch: 45px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.bold {
  font-weight: bold;
}
